@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@900&display=swap');

* { margin: 0; padding: 0; max-width: 100%; }

body { 
	background-color: #191E3F;
	color: white;
	min-width: calc(100% - 18px);
	margin: auto;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
}

h1 {
	font-size: 76.78px;
	letter-spacing: -0.02em;
	font-weight: 100;
}

.wrapper {
	max-width: 1170px;
	margin: auto;
	min-width: 290px;

	@media (max-width: 1200px) {
		padding-left: 15px;
		padding-right: 15px;
		max-width: calc(100% - 30px)	
	}
}

.title-wrapper {
	position: relative;
	width: 100%;

	* {
		display: inline-block;
		position: absolute;
	}

	.number {
		font-family: 'Yantramanav', sans-serif;
		font-weight: 900;
		opacity: 0.1;
		font-size: 286px;
	}

	h3.title {
		font-weight: 100;
		font-size: 34.23px;
		transform: rotate(-90deg)
	}
}


header {
	position: relative;
	top: 82px; left: 0;
	width: 100%;
	max-width: 1170px;
	margin: auto;
	text-align: center;
	z-index: 1;

	.menu-bar {
		display: inline-block;
		position: relative;
		left: calc(50% - 50px); top: calc(-41px - calc(23px / 2));
		.hl	{
			width: 50px;
			height: 4px;
			background-color: #fff;
			margin: 5px auto;
		}
	}
}

#Header {
	background-image: url('images/Header background.png');
	background-size: cover;
	background-position: center;
	height: 100vh;
	text-align: center;
	padding: 120px 0;
	padding-top: 0;

	h1 {
		display: inline-block;
		padding: calc(50vh - 45px) 0;
		margin: auto;
		font-size: 76.78px;
		letter-spacing: -0.02em;
		font-weight: 100;

		@media (max-width: 420px) {
			font-size: 48px;
		}
	}
}

#Mission {
	padding: 120px 0;

	.wrapper { position: relative; }

	.title-wrapper {
		top: calc(calc(660px - 371px) / 2);
		@media (max-width: 800px) { top: calc(calc(261px - 371px) / 2); }

		h3.title {
			top: calc(calc(371px - 40px) / 2);
			left: 93px;
		}
	}

	.image {
		img {
			display: block;
			box-shadow: 0 178px 152px 0 rgba(0, 0, 0, .45);
			margin: auto;
		}
	}

	.content {
		width: 472px;
		padding: 15px 0;
		position: absolute;
		top: calc(50% - 86.5px);
		@media (max-width: 630px) { top: calc(100% - 203px); }
		right: 0;
		margin-left: auto;
		p { 
			font-size: 19px;
			fill: purple;
			fill-opacity: 63%;
		}
	}

	@media (max-width: 480px) { 
		.title-wrapper {
			top: 0;
			.number { left: calc(50% - 138px); }
			h3.title { left: calc(50% - 45px); }
		}

		.content { position: static; }
	}
}

#Projects {
	padding: 120px 0;
	background-image: url('images/projects background.png');
	background-size: cover;
	min-height: 1086px;
	display: flex;
	align-items: center;

	.wrapper {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
	}

	.title-wrapper {
		top: -500px;
		width: auto;
		right: calc(calc(-100% - 1170px) / 2);

		h3.title {
			top: 215px;
			left: 145px;
		}

		@media (max-width: 1800px) {
			left: calc(100% - 299px);
		}

		@media (max-width: 595px) {
			top: -800px;
		}
	}

	.content {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		& > div { padding: 45px 40px; }

		@media (max-width: 1200px) { & > div { padding: 45px 13%; } }
		@media (max-width: 920px) { grid-template-columns: 1fr 1fr; }
		@media (max-width: 590px) { grid-template-columns: 1fr; }
	}
}

#Team {
	.title-wrapper {
		h3.title {
			top: calc(310px / 2);
			left: 107px;
		}
	}

	.persons {
		display: grid;
		grid-template-areas: 'a a' 'b c' 'd e' ;

		img { box-shadow: 0 178px 152px 0 rgba(0, 0, 0, .45); }

		.person {
			padding-bottom: 15px;
			position: relative;

			.content {
				position: absolute; top: 50%;

				.hr {
					background: white;
					width: 55px;
					height: 5px;
				}

				.name { font-size: 38px; margin: 30px 0 20px; }
				.position { font-size: 19px; opacity: 0.5; }
				.describe { font-size: 15px; max-width: 325px; margin-top: 40px; }
			}
		}

		.p1 {
			grid-area: a;
			justify-self: end;
			padding-bottom: 150px;
			.content { 
				left: -170px;
				top: 40%;
			}
		}

		.p2 {
			justify-self: start;
			align-self: start;
			.content { right: -87px }
		}

		.p3 {
			justify-self: end;
			align-self: end;
			margin-top: 132px;
			.content { left: -90px; }
		}

		.p4 {
			justify-self: start;
			align-self: start;
			img { margin-left: 130px; }
		}

		.p5 {
			justify-self: end;
			align-self: end;
			margin-top: 228px;
			img { margin-right: 130px; }
			.content { right: 0; }
		}

		@media (max-width: 1190px) {
			grid-template-areas: 'a' 'b' 'c' 'd' 'e';
			.p3, .p5 { margin-top: 0; }
		}

		@media (max-width: 900px) {
			.p1 {
				justify-self: auto;

				.content { left: 0; }
				img { margin-left: calc(100% - 660px); }
			}
		}

		@media (max-width: 550px) {
			.p1 .content .describe { max-width: 100%; }
		}

		@media (max-width: 400px) {
			.person { padding-bottom: 60px; }
			.p1 { padding-bottom: 350px }
		}

		@media (max-width: 710px) {
			.person .content {
				left: 0;
				bottom: 0;
			}
			.person img { margin: 0; }
			.person { justify-self: center; }
		}
	}

	@media (max-width: 1040px) {
		.title-wrapper { top: -310px; }
	}

	@media (max-width: 590px) {
		padding-top: 155px;
	}
}

#Emotions {
	background-image: url('images/Emotions background.png');
	background-size: cover;
	min-height: 1200px;
	padding: 70px 0;

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 1200px;
	}

	.title-wrapper {
		margin-top: -110px;
		margin-bottom: 0;

		.number { 
			position: relative;
			left: calc(50% - 149px)
		}

		h3.title {
			top: calc(calc(calc(371px + 40px) - 85px) / 2);
			left: calc(50% - 49px);
		}
	}

	.content {
		width: 50%;
		align-items: center;
		h4 {
			font-size: 72px;
			letter-spacing: .8px;
			margin-bottom: 59px;
		}
		p { font-size: 19px; margin-bottom: 20px; }
	}

	@media (max-width: 1000px) {
		.content { 
			width: 500px;
			max-width: calc(100% - 30px);
			h4 { font-size: 64px; }
		}
	}

	footer {
		text-align: center;
		img { opacity: 0.2; }
		.nav { 
			display: flex;
			justify-content: center;
			margin: 38px auto 21px;
			.button { margin: 0px 11.5px; }
		}
	}
}