@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
  max-width: 100%; }

body {
  background-color: #191E3F;
  color: white;
  min-width: calc(100% - 18px);
  margin: auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 100; }

h1 {
  font-size: 76.78px;
  letter-spacing: -0.02em;
  font-weight: 100; }

.wrapper {
  max-width: 1170px;
  margin: auto;
  min-width: 290px; }
  @media (max-width: 1200px) {
    .wrapper {
      padding-left: 15px;
      padding-right: 15px;
      max-width: calc(100% - 30px); } }

.title-wrapper {
  position: relative;
  width: 100%; }
  .title-wrapper * {
    display: inline-block;
    position: absolute; }
  .title-wrapper .number {
    font-family: 'Yantramanav', sans-serif;
    font-weight: 900;
    opacity: 0.1;
    font-size: 286px; }
  .title-wrapper h3.title {
    font-weight: 100;
    font-size: 34.23px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }

header {
  position: relative;
  top: 82px;
  left: 0;
  width: 100%;
  max-width: 1170px;
  margin: auto;
  text-align: center;
  z-index: 1; }
  header .menu-bar {
    display: inline-block;
    position: relative;
    left: calc(50% - 50px);
    top: calc(-41px - calc(23px / 2)); }
    header .menu-bar .hl {
      width: 50px;
      height: 4px;
      background-color: #fff;
      margin: 5px auto; }

#Header {
  background-image: url("images/Header background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  padding: 120px 0;
  padding-top: 0; }
  #Header h1 {
    display: inline-block;
    padding: calc(50vh - 45px) 0;
    margin: auto;
    font-size: 76.78px;
    letter-spacing: -0.02em;
    font-weight: 100; }
    @media (max-width: 420px) {
      #Header h1 {
        font-size: 48px; } }

#Mission {
  padding: 120px 0; }
  #Mission .wrapper {
    position: relative; }
  #Mission .title-wrapper {
    top: calc(calc(660px - 371px) / 2); }
    @media (max-width: 800px) {
      #Mission .title-wrapper {
        top: calc(calc(261px - 371px) / 2); } }
    #Mission .title-wrapper h3.title {
      top: calc(calc(371px - 40px) / 2);
      left: 93px; }
  #Mission .image img {
    display: block;
    -webkit-box-shadow: 0 178px 152px 0 rgba(0, 0, 0, 0.45);
    box-shadow: 0 178px 152px 0 rgba(0, 0, 0, 0.45);
    margin: auto; }
  #Mission .content {
    width: 472px;
    padding: 15px 0;
    position: absolute;
    top: calc(50% - 86.5px);
    right: 0;
    margin-left: auto; }
    @media (max-width: 630px) {
      #Mission .content {
        top: calc(100% - 203px); } }
    #Mission .content p {
      font-size: 19px;
      fill: purple;
      fill-opacity: 63%; }
  @media (max-width: 480px) {
    #Mission .title-wrapper {
      top: 0; }
      #Mission .title-wrapper .number {
        left: calc(50% - 138px); }
      #Mission .title-wrapper h3.title {
        left: calc(50% - 45px); }
    #Mission .content {
      position: static; } }

#Projects {
  padding: 120px 0;
  background-image: url("images/projects background.png");
  background-size: cover;
  min-height: 1086px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #Projects .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  #Projects .title-wrapper {
    top: -500px;
    width: auto;
    right: calc(calc(-100% - 1170px) / 2); }
    #Projects .title-wrapper h3.title {
      top: 215px;
      left: 145px; }
    @media (max-width: 1800px) {
      #Projects .title-wrapper {
        left: calc(100% - 299px); } }
    @media (max-width: 595px) {
      #Projects .title-wrapper {
        top: -800px; } }
  #Projects .content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; }
    #Projects .content > div {
      padding: 45px 40px; }
    @media (max-width: 1200px) {
      #Projects .content > div {
        padding: 45px 13%; } }
    @media (max-width: 920px) {
      #Projects .content {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr; } }
    @media (max-width: 590px) {
      #Projects .content {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr; } }

#Team .title-wrapper h3.title {
  top: calc(310px / 2);
  left: 107px; }

#Team .persons {
  display: -ms-grid;
  display: grid;
  grid-template-areas: 'a a' 'b c' 'd e'; }
  #Team .persons img {
    -webkit-box-shadow: 0 178px 152px 0 rgba(0, 0, 0, 0.45);
    box-shadow: 0 178px 152px 0 rgba(0, 0, 0, 0.45); }
  #Team .persons .person {
    padding-bottom: 15px;
    position: relative; }
    #Team .persons .person .content {
      position: absolute;
      top: 50%; }
      #Team .persons .person .content .hr {
        background: white;
        width: 55px;
        height: 5px; }
      #Team .persons .person .content .name {
        font-size: 38px;
        margin: 30px 0 20px; }
      #Team .persons .person .content .position {
        font-size: 19px;
        opacity: 0.5; }
      #Team .persons .person .content .describe {
        font-size: 15px;
        max-width: 325px;
        margin-top: 40px; }
  #Team .persons .p1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: a;
    -ms-grid-column-align: end;
    justify-self: end;
    padding-bottom: 150px; }
    #Team .persons .p1 .content {
      left: -170px;
      top: 40%; }
  #Team .persons .p2 {
    -ms-grid-column-align: start;
    justify-self: start;
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start; }
    #Team .persons .p2 .content {
      right: -87px; }
  #Team .persons .p3 {
    -ms-grid-column-align: end;
    justify-self: end;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
    margin-top: 132px; }
    #Team .persons .p3 .content {
      left: -90px; }
  #Team .persons .p4 {
    -ms-grid-column-align: start;
    justify-self: start;
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start; }
    #Team .persons .p4 img {
      margin-left: 130px; }
  #Team .persons .p5 {
    -ms-grid-column-align: end;
    justify-self: end;
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
    margin-top: 228px; }
    #Team .persons .p5 img {
      margin-right: 130px; }
    #Team .persons .p5 .content {
      right: 0; }
  @media (max-width: 1190px) {
    #Team .persons {
      grid-template-areas: 'a' 'b' 'c' 'd' 'e'; }
      #Team .persons .p3, #Team .persons .p5 {
        margin-top: 0; }
    #Team .persons .p1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; } }
  @media (max-width: 900px) {
    #Team .persons .p1 {
      -ms-grid-column-align: auto;
      justify-self: auto; }
      #Team .persons .p1 .content {
        left: 0; }
      #Team .persons .p1 img {
        margin-left: calc(100% - 660px); } }
  @media (max-width: 550px) {
    #Team .persons .p1 .content .describe {
      max-width: 100%; } }
  @media (max-width: 400px) {
    #Team .persons .person {
      padding-bottom: 60px; }
    #Team .persons .p1 {
      padding-bottom: 350px; } }
  @media (max-width: 710px) {
    #Team .persons .person .content {
      left: 0;
      bottom: 0; }
    #Team .persons .person img {
      margin: 0; }
    #Team .persons .person {
      -ms-grid-column-align: center;
      justify-self: center; } }

@media (max-width: 1040px) {
  #Team .title-wrapper {
    top: -310px; } }

@media (max-width: 590px) {
  #Team {
    padding-top: 155px; } }

#Emotions {
  background-image: url("images/Emotions background.png");
  background-size: cover;
  min-height: 1200px;
  padding: 70px 0; }
  #Emotions .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 1200px; }
  #Emotions .title-wrapper {
    margin-top: -110px;
    margin-bottom: 0; }
    #Emotions .title-wrapper .number {
      position: relative;
      left: calc(50% - 149px); }
    #Emotions .title-wrapper h3.title {
      top: calc(calc(calc(371px + 40px) - 85px) / 2);
      left: calc(50% - 49px); }
  #Emotions .content {
    width: 50%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #Emotions .content h4 {
      font-size: 72px;
      letter-spacing: .8px;
      margin-bottom: 59px; }
    #Emotions .content p {
      font-size: 19px;
      margin-bottom: 20px; }
  @media (max-width: 1000px) {
    #Emotions .content {
      width: 500px;
      max-width: calc(100% - 30px); }
      #Emotions .content h4 {
        font-size: 64px; } }
  #Emotions footer {
    text-align: center; }
    #Emotions footer img {
      opacity: 0.2; }
    #Emotions footer .nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 38px auto 21px; }
      #Emotions footer .nav .button {
        margin: 0px 11.5px; }
