@import url("../../blocks/_section-title/_section-title.vue.js");
@import url("../../blocks/_wrapper/_wrapper.vue.js");
.mission {
  padding: 120px 0;
  position: relative; }

.mission__title {
  top: calc(calc(660px - 371px) / 2); }
  @media (max-width: 800px) {
    .mission__title {
      top: calc(calc(261px - 371px) / 2); } }
  .mission__title .section-title__title {
    top: calc(calc(371px - 40px) / 2);
    left: 93px; }

.mission__image {
  display: block;
  -webkit-box-shadow: 0 178px 152px 0 rgba(0, 0, 0, 0.45);
  box-shadow: 0 178px 152px 0 rgba(0, 0, 0, 0.45);
  margin: auto; }

.mission__content {
  width: 472px;
  padding: 15px 0;
  position: absolute;
  top: calc(50% - 86.5px);
  right: 0;
  margin-left: auto; }

.mission__paragraph {
  font-size: 19px;
  fill: purple;
  fill-opacity: 63%; }

@media (max-width: 630px) {
  .mission__content {
    top: calc(100% - 203px); } }

@media (max-width: 480px) {
  .mission__title {
    top: 0; }
    .mission__title .section-title__number {
      left: calc(50% - 138px); }
    .mission__title .section-title__title {
      left: calc(50% - 45px); }
  .mission__content {
    position: static; } }
