@import url('../../blocks/_section-title/_section-title.css');
@import url('../../blocks/_wrapper/_wrapper.css');

// ------------------- team__title -------------------

.team__title {
	.section-title__title {
		top: calc(310px / 2);
		left: 107px;
	}
}

@media (max-width: 1040px) {
	.team__title { top: -310px; }
}

// ------ team__content and team__person general -----

.team__content {
	display: grid;
	grid-template-areas: 'a a' 'b c' 'd e' ;
}


.team__person {
	padding-bottom: 15px;
	position: relative;
}

.team__person-hr {
	background: white;
	width: 55px;
	height: 5px;
}

.team__person-content { position: absolute; top: 50%; }
.team__person-name { font-size: 38px; margin: 30px 0 20px; }
.team__person-position { font-size: 19px; opacity: 0.5; }
.team__person-describe { font-size: 15px; max-width: 325px; margin-top: 40px; }
.team__person-image { box-shadow: 0 178px 152px 0 rgba(0, 0, 0, .45); }

@media (max-width: 710px) {
	.team__person-content {
		left: 0;
		bottom: 0;
	}
	
	.team__person-image { margin: 0; }
	.team__person { justify-self: center; }
}

// ----------- team__content inner elements ----------

.team__person_p1 {
	grid-area: a;
	justify-self: end;
	padding-bottom: 150px;

	.team__person-content { 
		left: -170px;
		top: 40%;
	}
}

.team__person_p2 {
	justify-self: start;
	align-self: start;

	.team__person-content { right: -87px }
}

.team__person_p3 {
	justify-self: end;
	align-self: end;
	margin-top: 132px;

	.team__person-content { left: -90px; }
}

.team__person_p4 {
	justify-self: start;
	align-self: start;
	.team__person-image { margin-left: 130px; }
}

.team__person_p5 {
	justify-self: end;
	align-self: end;
	margin-top: 228px;

	.team__person-image { margin-right: 130px; }
	.team__person-content { right: 0; }
}

@media (max-width: 1190px) {
	.team__content { grid-template-areas: 'a' 'b' 'c' 'd' 'e'; }
	.team__person_p3 { margin-top: 0; }
	.team__person_p5 { margin-top: 0; }
}

@media (max-width: 900px) {
	.team__person_p1 {
		justify-self: auto;

		.team__person-content { left: 0; }
		.team__person-image { margin-left: calc(100% - 660px); }
	}
}

@media (max-width: 550px) {
	.team__person_p1 { 
		.team__person-describe { max-width: 100%; }
	}
}

@media (max-width: 530px) {
	.team__person_p3 {
		.team__person-content { left: 0; }
	}
}

@media (max-width: 400px) {
	.team__person { padding-bottom: 60px; }
	.team__person_p1 { padding-bottom: 350px }
}

@media (max-width: 590px) {
	.team { padding-top: 155px; }
}