@import url('../../blocks/_section-title/_section-title.css');
@import url('../../blocks/_wrapper/_wrapper.css');

.projects {
	padding: 120px 0;
	background-image: url('images/projects background.png');
	background-size: cover;
	min-height: 1086px;
	display: flex;
	align-items: center;
}

.projects__title {
	top: -500px;
	width: auto;
	right: calc(calc(-100% - 1170px) / 2);

	.section-title__title {
		top: 215px;
		left: 145px;
	}
}

@media (max-width: 1800px) { .projects__title { left: calc(100% - 299px); } }
@media (max-width: 595px) { .projects__title { top: -800px; } }

.projects__inner {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.projects__content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.projects__item { 
	display: block;
	padding: 45px 40px; 
}

@media (max-width: 1200px) { .projects__item { padding: 45px 13%; } }
@media (max-width: 920px) { .projects__content { grid-template-columns: 1fr 1fr; } }
@media (max-width: 590px) { .projects__content { grid-template-columns: 1fr; } }